<h1>About Us</h1>
<p>We are a whimsical bunch</p>
<p>Our Leader (pictured below), meets weekly with our suppliers (aliens) to bring you products of the highest quality.</p>
<img width="600"src="https://p1.pxfuel.com/preview/326/736/1008/people-whimsical-lazy-suit.jpg">

<h4>FAQ</h4>
<br>
<p>Does his bowtie does spin?</p>
<p>Yes!</p>
<br>
<p>Does he always look like that?</p>
<p>The constant interactions with space-faring aliens have caused the expression on his face to be permanent.</p>
<br>
<p>Is he single?</p>
<p>Sorry, no.  Our leader is in committed relationships with his outer-space-partners.</p>